.dark-mode {
    background-color: darken($grisOscuro, 10);
    p,
    label {
        color: $blanco;
    }
    a,
    h1,
    h2,
    h3,
    h4,
    legend {
        color: $gris;
    }
    .contenedor-icono {
        img {
            filter: invert(100%);
        }
    }
    .propiedad {
        background-color: $grisOscuro;
    }
    .formulario {
        background-color: $grisOscuro;
    }
}